*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f6f8f9;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 80%;
    background-color: white;
    padding: 15px 50px;
    margin: auto;
    border-radius: 5px;
}

/* ******proprietà header****** */

header{
    background-color: white;
    padding: 10px 20px;
    height: 80px;
}

header img{
    height: 60px;
}

header h1{
    display: inline-block;
    font-size: 40px;
}

/* ******proprietà main****** */

main{
    margin: 40px 0;
}

/* ******proprietà bottoni****** */
.button{
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
}

.button.task{
    background-color: #47adf1;
    color: white;
}

.button.section{
    background-color: white;
    border: 1px solid lightgrey;
    color: lightgray;
}

.buttonRow.container{
    margin: 5px auto;
}

/* ******proprietà sezione  task****** */

section{
    margin-top: 30px;
}

.textTask{
    margin: 20px 0;
    font-size: 18px;
}

/* ******proprietà simboli check e cross */
.symbol{
    display: inline-block;   
    font-size: 15px;
    padding-left: 2px;
    width: 20px;
    height: 20px; 
    border-radius: 50%;
    margin-right: 5px;
}

.check.symbol{
    color: #64c0a9;
    border: 1px solid #64c0a9;
}

.cross.symbol{
    color: #ea4237;
    border: 1px solid #ea4237;
}

/* ******proprietà button task testo****** */
.buttonTask{
    border: none;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 10px;
}

.editorial.buttonTask{
    background-color: #47adf1;
}

.goals.buttonTask{
    background-color: #9c72e4;
}

.recruiting.buttonTask{
    background-color: #64c0a9;
}

.mobile.buttonTask{
    background-color: #f29e33;
}

.website.buttonTask{
    background-color: #d863a1;
}

.sales.buttonTask{
    background-color: #b0c926;
}